<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ejercicio10Aleatorizadoreventos"
        tools:targetApi="31">
        <activity
            android:name=".muerte"
            android:exported="false" />
        <activity
            android:name=".pelea"
            android:exported="false" />
        <activity
            android:name=".pantallaResumen"
            android:exported="false" />
        <activity
            android:name=".pantallaRaza"
            android:exported="false" />
        <activity
            android:name=".pantallaClases"
            android:exported="false" />
        <activity
            android:name=".registrado"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cosasMercader"
            android:exported="false" />
        <activity
            android:name=".pantallaBlanco"
            android:exported="false" />
        <activity
            android:name=".pantallaEnemigo"
            android:exported="false" />
        <activity
            android:name=".pantallaMercader"
            android:exported="false" />
        <activity
            android:name=".pantallaCiudad"
            android:exported="false" />
        <activity
            android:name=".pantallaObjeto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>